.country{
    border:2px solid seagreen;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;

}

.visited{
    background-color:rgb(5, 63, 86)
}

.non-visited{
    background-color: rgb(69, 102, 4)
}

.flag-container{
    width: 100px;
    border-radius: 20px;
}